{%extends "base.html"%} {%load static%} {%block content%}
<h2 class="best-seller__title">WEEKLY BEST SELLERS</h2>
<div class="best-seller__type">
  <button class="best-seller__type--button kyobo-btn">교보문고</button>
  <button class="best-seller__type--button alladdin-btn">알라딘</button>
  <button class="best-seller__type--button yes24-btn">예스24</button>
</div>
<div class="book-list">
  <div class="best-seller kyobo">
    {% for book in books %}
    <div class="best-seller__book">
      <span class="ranking first-rank">{{book.rank}}</span>
      <img src="{{book.cover}}" />
      <div class="best-seller__book--detail">
        <h3>{{book.title}}</h3>
        <span>{{book.author}}</span>
      </div>
      <div class="best-seller__book--link">
        <a href="/kyobo/{{book.id}}/"
          >Go Chat <i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="best-seller alladdin">
    <div class="best-seller__book">
      <span class="ranking first-rank">1</span>
      <img src="{%static 'images/midnight-library.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>미드나잇 라이브러리</h3>
        <span>by 매트 헤이그</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">2</span>
      <img src="{%static 'images/puppy-poop.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>강아지똥 (25주년 특별판)</h3>
        <span>by 권정생</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">3</span>
      <img src="{%static 'images/long-night.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>긴긴밤</h3>
        <span>by 루리</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">4</span>
      <img src="{%static 'images/beyond-order.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>질서 너머</h3>
        <span>by 조던 B, 피터슨</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">5</span>
      <img src="{%static 'images/dream-department.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>달러구트 꿈 백화점</h3>
        <span>by 이미예</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">6</span>
      <img src="{%static 'images/socrates-express.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>소크라테스 익스프레스</h3>
        <span>by 에릭 와이너</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">7</span>
      <img src="{%static 'images/free-workers.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>프리 워커스</h3>
        <span>by 모빌스 그룹</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">8</span>
      <img src="{%static 'images/broken-summer.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>부서진 여름</h3>
        <span>by 이정명</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <div class="best-seller yes24">
    <div class="best-seller__book">
      <span class="ranking first-rank">1</span>
      <img src="{%static 'images/beyond-order.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>질서 너머</h3>
        <span>by 조던 B, 피터슨</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">2</span>
      <img src="{%static 'images/dream-department.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>달러구트 꿈 백화점</h3>
        <span>by 이미예</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">3</span>
      <img src="{%static 'images/puppy-poop.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>강아지똥 (25주년 특별판)</h3>
        <span>by 권정생</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">4</span>
      <img src="{%static 'images/long-night.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>긴긴밤</h3>
        <span>by 루리</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">5</span>
      <img src="{%static 'images/midnight-library.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>미드나잇 라이브러리</h3>
        <span>by 매트 헤이그</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">6</span>
      <img src="{%static 'images/socrates-express.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>소크라테스 익스프레스</h3>
        <span>by 에릭 와이너</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">7</span>
      <img src="{%static 'images/free-workers.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>프리 워커스</h3>
        <span>by 모빌스 그룹</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="best-seller__book">
      <span class="ranking">8</span>
      <img src="{%static 'images/broken-summer.jpg'%}" />
      <div class="best-seller__book--detail">
        <h3>부서진 여름</h3>
        <span>by 이정명</span>
      </div>
      <div class="best-seller__book--link">
        <a href="chat-room.html">Go Chat <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/home.js' %}"></script>
<script
  src="https://kit.fontawesome.com/041bfb30d2.js"
  crossorigin="anonymous"
></script>
{%endblock%}
