{% extends 'blog/base.html' %} {% block content %} {% load static %}
<body>
  <header>
    <a href="{% url 'home' %}"><h1>Site Name</h1></a>
  </header>
  <div class="info">
    <div class="content_img">
      <img
        class="best"
        src="{% static 'images/best1.jpg' %}"
        alt="베스트셀러1"
      />
    </div>
    <div class="content_detail">
      <strong>미드나잇 라이브러리</strong>
      <div class="content_box">
        <span>매트 헤이그 지음</span>
        <span class="line">|</span>
        <span>노진선 옮김</span>
        <span class="line">|</span>
        <span>인플루엔셜</span>
        <span class="line">|</span>
        <span>2021년 04월 28일 출간</span>
      </div>
      <div class="content_box">
        <span>주간베스트 2위</span>
        <span class="line">|</span>
        <span>평점 9.5</span>
      </div>
      <div class="content_box">
        <span>정가</span>
        <span class="line">|</span>
        <span>15,800원</span>
      </div>
      <div class="description">
        <p>"후회하는 일을 되돌릴 기회가 생긴다면 다른 선택을 해보겠니?"</p>
        <span
          >어머니의 죽음, 파혼, 해고, 반려 고양이 볼츠의 죽음… 더 이상 삶을 견딜
          수 없던 주인공 노라는 자살을 결심한다. 눈을 뜬 곳은 초록색 책들로
          가득한 자정의 도서관. 친절하고 다정한 사서의 안내로 서가의 책이 모두
          노라가 살았을지도 모르는 삶들을 담고 있음을 알게 되고 노라는 《후회의
          책》을 펼쳐서, 가장 후회되는 순간 다른 선택을 했던 삶을 살아본다.
          빙하학자, 뮤지션, 동네 펍 주인, 수영 선수가 되는 삶, 평범하지만 지루한
          삶, 아이가 있는 삶 등등 가장 ‘완벽한 삶’을 찾을 때까지 수만 가지의
          새로운 삶을 거친다. 그러나 노라는 자꾸만 ‘자정의 도서관’으로 돌아오게
          되고, 무엇이 완벽한 삶인지 의문을 품는다.</span
        >
      </div>
    </div>
  </div>

  <div class="chat">
    <strong>진행 중인 채팅 7개</strong>
    <div class="balloon_03"></div>
  </div>
</body>
{% endblock %}
