{% extends 'blog/base.html' %} {% block content %}
<body>
  <header>
    <a href="{% url 'home' %}"><h1>Site Name</h1></a>
  </header>
  <div class="container">
    <form method="POST" action="">
      <fieldset>
        <legend>LOGIN</legend>
        <label for="user_id">ID</label><br />
        <input type="text" name="id" size="20" id="user_id" /> <br />
        <label for="user_pw">PASSWORD</label><br />
        <input type="password" name="pw" size="20" id="user_pw" />
        <button type="submit">로그인</button>
      </fieldset>
      <br />
    </form>
  </div>
</body>
{% endblock %}
